<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2016 Information & Computational Sciences, The James Hutton Institute
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="uk.ac.hutton.ics.buntata">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:replace="android:allowBackup">
		<activity
			android:name=".activity.MainActivity"
			android:configChanges="orientation|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.IntroductionActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".activity.DatasourceActivity"
			android:configChanges="keyboardHidden|orientation|screenSize"/>
		<activity
			android:name=".activity.ImageViewPagerActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name=".activity.NodeDetailsActivity"
			android:parentActivityName=".activity.MainActivity">
			<intent-filter android:label="@string/app_name">
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<!-- Accepts URIs that begin with "http://bunta.ta" -->
				<data
					android:host="bunta.ta"
					android:scheme="http"/>
			</intent-filter>
			<intent-filter android:label="@string/app_name">
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<!-- Accepts URIs that begin with "https://ics.hutton.ac.uk/resources/roadshow-staff/" -->
				<data
					android:host="ics.hutton.ac.uk"
					android:scheme="https"
					android:pathPrefix="/resources/roadshow-staff/"/>
			</intent-filter>
		</activity>
		<activity android:name=".activity.AboutActivity"/>
		<activity android:name=".activity.ApacheLicenseActivity"/>
		<activity android:name=".activity.VideoActivity"/>
		<activity android:name=".activity.EulaActivity"/>
		<activity android:name=".activity.PreferencesActivity"/>
		<activity android:name=".activity.ChangelogActivity"/>
		<activity android:name=".activity.LogEntryActivity"/>
		<activity android:name=".activity.NodeCatalogActivity"/>
		<activity android:name=".activity.LogDetailsActivity"
				  android:configChanges="orientation|screenSize"/>

		<provider
			android:name=".util.ShareImageFileProvider"
			android:authorities="${applicationId}.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/filepaths"/>
		</provider>

		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="${GOOGLE_MAPS_KEY}"/>
	</application>
</manifest>