<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2016 Information & Computational Sciences, The James Hutton Institute
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="uk.ac.hutton.ics.buntata">

	<uses-permission android:name="android.permission.INTERNET"/>

	<application
		tools:replace="android:allowBackup"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".activity.MainActivity"
				  android:configChanges="orientation|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name=".activity.IntroductionActivity"
				  android:configChanges="orientation|screenSize"/>
		<activity android:name=".activity.DatasourceActivity"
				  android:configChanges="orientation|screenSize"/>
		<activity android:name=".activity.ImageViewPagerActivity"
				  android:configChanges="orientation|screenSize"/>
		<activity android:name=".activity.NodeDetailsActivity"
				  android:parentActivityName=".activity.MainActivity">
			<intent-filter android:label="@string/app_name">
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<!-- note that the leading "/" is required for pathPrefix-->
				<!-- Accepts URIs that begin with "http://bunta.ta” -->
				<data android:scheme="http"
					  android:host="bunta.ta"/>

			</intent-filter>
		</activity>
		<activity android:name=".activity.AboutActivity"/>
		<activity android:name=".activity.ApacheLicenseActivity"/>
		<activity android:name=".activity.VideoActivity"/>
		<activity android:name=".activity.PreferencesActivity"/>
		<activity android:name=".activity.ChangelogActivity"/>
	</application>

</manifest>